# ¿Qué es Pandas?
Pandas es una librería de Python que se usa para manipular datos de alto nivel. Está construida sobre NumPy.

Principalmente funciona con una estructura de datos que guarda la información de manera tabular llamada DataFrame. Esencialmente esto es una tabla como las que veríamos en bases de datos SQL o archivos de Excel.

## ¿Por qué usar Pandas?
Para analizar datos es muy común tener que trabajar con ellos en forma tabular y con Pandas podemos hacerlo.

Una diferencia que tiene Pandas a trabajar con hojas de cálculo en Excel es que es mucho más rápida y potente, podemos trabajar con cantidades de datos más grandes.

## Comenzar a usar Pandas
Para empezar a utilizar Pandas dentro de Jupyter Notebooks en la nube, como Google Colab o Deepnote, no necesitas hacer ninguna instalación. Simplemente escribe la siguiente línea en una celda de código y ejecútala.

In [2]:
import pandas as pd

## DataFrames y Series
Pandas trabaja con DataFrames que son la estructura de datos principal con la que almacena y manipula datos tabulados.

Cada fila dentro de un DataFrame lleva un índice que indica su posición.

![Dataframe](/Users/ideasleon/platzi_edu/DataAcademy/Doc/images/dataframe.webp)

Otras estructuras de datos comunes en Pandas son las Series. Son de una sola dimensión como una lista de Python o un NumPy array. Esencialmente son una columna de datos y un índice que indica su posición.

![Series](/Users/ideasleon/platzi_edu/DataAcademy/Doc/images/series.webp)

## Crear un DataFrame
Existen diferentes maneras de crear DataFrames. Veamos algunas.

### Diccionario de listas

In [2]:
students_dict = {
    "name": ["Miguel", "Juan David", "Carmen", "Facundo", "Romina"],
    "age": [29, 19, 24, 22, 25],
    "career path":  ["Data Analyst", "Data Scientist", "Data Analyst", "Data Engineer", "ML Engineer" ],
}

students_df = pd.DataFrame(students_dict)
students_df

         name  age     career path
0      Miguel   29    Data Analyst
1  Juan David   19  Data Scientist
2      Carmen   24    Data Analyst
3     Facundo   22   Data Engineer
4      Romina   25     ML Engineer

Esto nos creará este DataFrame.

### Lista de diccionarios (fila por fila)

In [3]:
# Esto nos creará este segundo DataFrame.
students_list = [
    {"name": "Miguel", "age": 29, "career path": "Data Analyst"},
    {"name": "Juan David", "age": 19, "career path": "Data Scientist"},
    {"name": "Carmen", "age": 24, "career path": "Data Analyst"},
]

students_df_2 = pd.DataFrame(students_list)
students_df_2

         name  age     career path
0      Miguel   29    Data Analyst
1  Juan David   19  Data Scientist
2      Carmen   24    Data Analyst

Utilizando el método .dtype podemos conocer cuál es el tipo de dato que hay dentro de cada columna del DataFrame.

Utiliza ese método en cada uno de los DataFrames que creamos.

In [ ]:
students_df.dtypes

In [ ]:
students_df_2.dtypes

### Reto: crea nuevos DataFrames
Crea otro diccionario con listas y con él crea un nuevo DataFrame. Utiliza los datos que quieras.

También crea otra lista con diccionarios y crea otro nuevo DataFrame con los mismos datos que tenías en tu diccionario.

Comparte tus resultados en los comentarios.

In [ ]:
# diccionario de listas
well_offset = {
    "well_name": ["ENCANTADA-500","ENCANTADA-501","PALMIRO-1","JUILE-1"],
    "depth_md" : [2908,1882,2504,553],
    "status" : ["closed","abandoned","abandoned","closed"]
}

well_offset_df = pd.DataFrame(well_offset)
well_offset_df

In [4]:
well_offset_df.dtypes

well_name    object
depth_md      int64
status       object
dtype: object

In [ ]:
# listas de diccionarios

well_tops = [
    {"well_name":"well-1", "well_top":"JKS", "md":2308},
    {"well_name":"well-2", "well_top":"JKS", "md":2101},
    {"well_name":"well-3", "well_top":"KM", "md":1708}
]

well_tops_df = pd.DataFrame(well_tops)
well_tops_df